body {
  background-color: #d2f4ff;
}
/* Add some styling for the calculator */
.calculator {
  display: flex;
  flex-direction: column;
  width: 88vw;
  height: 95vh;
  font-size: 4vw;
  margin: auto;
  text-align: center;
  border-radius: 0.5vw;
}
.calculator input {
  margin: auto;
  font-size: 4vw;
  width: 88vw;
  height: 8vh;
  background-color: #ccc;
  border: 4vh solid rgb(31, 31, 31);
  border-radius: 8vh;
  border-width: 0.5vh;
  text-align: center;
}
.calculator .result {
  display: inline-block;
  font-size: 4vw;
  width: 88vw;
  margin: auto;
  text-align: center;
  color: green;
}

.calculator .flex {
  margin-bottom: 8vh;
}

/* Add some styling for the labels */
.calculator label {
  font-size: 4vw;
  width: 88vw;
  margin: auto;
  text-align: center;
}
.calculator button {
  width: 88vw;
  height: 12vh;
  border-radius: 8vh;
  border-width: 0.5vh;
  font-size: 4vw;
  margin: auto;
  margin-top: 8vh;
  border: 0.5vh solid #333;
  border-color: dimgray;
}
.calculator .inline {
  font-size: 4vw;
  width: 88vw;
  margin: auto;
  text-align: center;
  color: rgb(0, 183, 0);
}
.calculator .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 7vh;
}

/* Add a media query to apply different styles for mobile devices */
@media (max-aspect-ratio: 1/1) {
  .calculator,
  .calculator button,
  .calculator input {
    font-size: 6vw;
  }
  .calculator .result {
    font-size: 15vw;
  }
  .calculator label {
    font-size: 10vw;
  }
  .calculator .inline {
    font-size: 10vw;
  }
}

#modal-button {
  position: absolute;
  right: 1vh;
  bottom: 1vh;
  width: 5vh;
  height: 5vh;
  border-width: 0.3vh;
  background-image: url('info.png') no-repeat;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: auto;
  padding:20vw;
  border-radius: 2vh;
}

.close-button {
  position: absolute;
  top: 0%;
  right: 5%;
  font-size: 10vh;
  cursor: pointer;
}

#main-container {
  filter: blur(0px);
  transition: filter 0.5s;
}
